{% extends 'main/layout.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/css/prodavec.css' %}">
{% endblock %}
{% block content %}
<section class="profile-section">
    <h2>prodavec</h2>
    <div class="profile-info">
        <form method="post" action="{% url 'my_products' %}">
            {% csrf_token %}
            <button type="submit" class="profile-button">Мои товары</button>
        </form>
        <form method="get" action="{% url 'my_orders' %}">
            <button type="submit" class="profile-button">Заказы</button>
        </form>
    </div>
</section>
{% endblock %}
