body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.left-section {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.left-nav {
    margin-right: auto;
}

.right-nav {
    margin-left: auto;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #444;
}

nav ul li a:hover {
    background-color: #555;
}


.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 100%;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: auto;
}

.product h3 {
    font-size: 20px;
    margin: 10px 0;
}

.product p {
    font-size: 18px;
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #218838;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.cart-section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cart-item img {
    width: 100px;
    height: auto;
}

.item-details {
    flex: 1;
    margin-left: 20px;
}

.cart-summary {
    text-align: right;
    font-size: 20px;
}

.checkout {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.checkout:hover {
    background-color: #218838;
}

.remove-item {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.remove-item:hover {
    background-color: #c82333;
}


#log1 {
    background-color: cornflowerblue;
}

#cart1 {
    background-color: #28a745;
}



